@mixin styles {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}
@mixin paragraph{
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.74);
}