@import 'colour';
@import 'mixins';
@import 'variables';

.landingPage{
    background-color:$landingbgcolour;
    .firstSection{
        display: flex;
        padding-left: $sidepadding;
        padding-right: $sidepadding;
        justify-content: space-between;
        padding-top: 30px;
        align-items: center;
        @media screen and (max-width:812px) {
            display: grid;
            justify-content: center;
        }
        div:first-child{

            h1{
                font-size: 64px;
                line-height: 77px;
                @include styles;
                font-weight: 500;
                @media screen and (max-width:678px) {
                    font-size:9vw;
                    line-height: 45px;
                }
                .emphasis{
                    color: $secondColour;
                }
            }
            p {
                @include paragraph;
                padding-top: 30px;
            }
            .store{

               
               .storeImg{
                    padding-top: 30px;
                    padding-right: 20px;
                    
                }
            }
        }
        div:nth-child(2){
            padding-right: 30px;
            img{
                width: 100%;
            }
            @media screen and (max-width:812px) {
                padding-top: 20px;
                justify-content: center;
                margin: auto;
                padding-right: 0px;
            }
            @media screen and (max-width:451px) {
                img{

                    width: 100%;
                    justify-content: center;
                    margin: auto;
                    padding-right: 0px;
                }
            }
        }
    }
    .secondSection{
        justify-content: center;
        padding-top: 50px;
        padding-left: $sidepadding;
        padding-right: $sidepadding;
        h2{
            @include styles;
            padding-top: 20px;
            font-size: 20px;
            padding-bottom: 20px;
            @media screen and (min-width:812px) {
                font-size: 36px;
             }
        }
        text-align: center;
        p{
            @include paragraph;
        }
        @media screen and (min-width:812px) {
           padding-top: 150px;
        }
    }
    .thirdSection{
        padding-top: 80px;
        padding-left: $sidepadding;
        padding-right: $sidepadding;
        text-align: center;
        @media screen and (min-width:812px) {
            display: flex;
            justify-content: space-between;
        }
        
        .cards{
            
            img{
                margin: auto;
                justify-content: center;
                display: block;
                
                
            }
            h2{
                @include styles;
                font-size: 25px;
                padding-top: 30px;
                color: $secondColour;
                @media screen and (min-width:812px) {
                    font-size: 33px;
                }
            }
            p{
                @include paragraph;
                padding-bottom: 20px;
                padding-top: 20px;
            }
         }
    }
    .fourthSection{
        padding-right: $sidepadding;
        padding-left: $sidepadding;
        padding-top: 150px;
        text-align: center;
        @media screen and (min-width:812px) {
             justify-content: space-between;
             display: flex;
           align-items: center;
        }
        div:first-child{
            h1{
                @include styles;
                
                font-size: 36px;
                padding-bottom: 20px;
                color: $secondColour;
                @media screen and (min-width:812px) {
                    text-align: justify;
                    font-size: 36px;
                 }
            }
            p{
                @include paragraph;
                padding-bottom: 20px;
            }
            @media screen and (min-width:812px) {
                text-align: justify;
                
             }
        }
        div:nth-child(2){
            padding-top: 10px;
            span{
                input{
                    height: 51px;
                    width: 190px;
                    border-radius: 5px;
                    @media screen and (min-width:918px) {
                        width: 299px;
                     }
                }
                .notifyBtn{
                    height: 47px;
                    padding-left: 10px;
                    background-color:$secondColour;
                    color:$btntextcolour;
                    font-family: Poppins;
                    font-style: normal;
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                    
                }
            }
        }
    }

}