* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  color: white;
}

.font-link {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
}

nav .logo h1 {
  padding-left: 1.5vw;
  font-size: 36px;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li:first-child {
  color: #FBDDBB;
}

nav ul .login {
  color: white;
  text-decoration: none;
}

nav ul .signUp {
  font-size: 17px;
  font-weight: 600;
  background-color: #E2B887;
  color: #00302E;
  border: none;
  padding: 12px 25px 12px 25px;
  border-radius: 5px;
}

nav ul .signUp:hover {
  background-color: #00302E;
  color: #FBDDBB;
}

nav .toggle {
  display: none;
}

@media screen and (max-width: 760px) {
  nav .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 30px;
  }
  nav .navlinkShow {
    position: absolute;
    display: block;
    list-style: none;
    background-color: white;
    right: 0;
    top: 100px;
    left: -20px;
    -webkit-transition: all 0.5secs linear;
    transition: all 0.5secs linear;
    background-color: #00302E;
  }
  nav .navlinkShow li {
    padding-bottom: 10px;
  }
  nav .navlinksHide {
    display: none;
  }
}

.footer {
  background-color: #0B0D17;
  padding-right: 3vw;
  padding-top: 50px;
}

.footer .subFooter {
  padding-bottom: 20px;
}

@media screen and (min-width: 812px) {
  .footer .subFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10vw;
  }
}

@media screen and (min-width: 1140px) {
  .footer .subFooter {
    gap: 17vw;
  }
}

.footer .subFooter .firstSectionFooter, .footer .subFooter .secondSectionFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 812px) {
  .footer .subFooter .firstSectionFooter, .footer .subFooter .secondSectionFooter {
    gap: 10vw;
  }
}

@media screen and (min-width: 1140px) {
  .footer .subFooter .firstSectionFooter, .footer .subFooter .secondSectionFooter {
    gap: 17vw;
  }
}

.footer .subFooter .firstSectionFooter ul, .footer .subFooter .secondSectionFooter ul {
  list-style-type: none;
}

.footer .subFooter .firstSectionFooter ul li:first-child, .footer .subFooter .secondSectionFooter ul li:first-child {
  font-style: normal;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  color: #F4F5F7;
  line-height: 28px;
}

.footer .subFooter .firstSectionFooter ul li, .footer .subFooter .secondSectionFooter ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #EEEFF4;
  padding-bottom: 20px;
}

.footer .subFooter .secondSectionFooter {
  padding-top: 100px;
}

@media screen and (min-width: 812px) {
  .footer .subFooter .secondSectionFooter {
    padding-top: 0px;
    gap: 10vw;
  }
}

@media screen and (min-width: 1140px) {
  .footer .subFooter .secondSectionFooter {
    gap: 17vw;
  }
}

@media screen and (min-width: 812px) {
  .footer .subFooter {
    padding-bottom: 40px;
  }
}

.footer hr {
  background: #FFFFFF;
  opacity: 0.1;
}

.footer .lastSubFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .lastSubFooter p {
  color: #D9DBE1;
}

@media screen and (max-width: 500px) {
  .footer .lastSubFooter {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .lastSubFooter .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .footer .lastSubFooter .socials {
    padding-top: 20px;
  }
}

.footer .lastSubFooter .socials div {
  width: 25px;
  padding: 2px;
  background: black;
  border-radius: 100%;
}

.footer .lastSubFooter .socials div .icons {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */