.login {
    div:first-child {
        display: none;
    }

    div:nth-child(2) {
        // margin: 0px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        padding-top: 100px;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: center;
        
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 27px;
            line-height: 33px;
            color: #00302E;
            padding-bottom: 30px;
            
            
        }
        
        .inputtag {
            color: black;
            width: 300px;
            height: 40px;
            background: rgba(255, 255, 255, 0.83);
            border: 1px solid rgba(251, 221, 187, 0.51);
            border-radius: 5px;
            padding-left: 10px;
            margin-bottom: 30px;
        }
        .passwordTag{
            .inputtag2{
                position: relative;
                @extend.inputtag;
            }
            .btnShow{
                position: absolute;
                right: 25px;
                top:242px;
                color: #00302E;
                border: none;
                background-color: transparent;

                
            }
        }
    }
}